<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <link href="/css/style.css" rel="stylesheet" /><!-- CSS PAGINATION PLUGIN JQUERY -->
</head>
<body>

<div class="page">
    <h2>Jquery Pagination Plugin, Incroyable !!!</h2>

    <div class="list-of-posts">
        <div class="post">
            <h3>Awesome Post 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 6</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 7</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 8</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 9</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 10</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 11</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 12</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 13</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 14</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 15</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 16</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
        <div class="post">
            <h3>Awesome Post 17</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget turpis nibh. Cras nisi lacus, dictum ac auctor quis, lacinia gravida lectus. Aenean ex nisi, iaculis sed efficitur sit amet, pharetra ut diam. Aliquam sit amet ex ac leo faucibus pharetra. Ut fermentum, nulla non finibus luctus, lectus diam porttitor nisi, varius ullamcorper ipsum neque tempor nulla. Curabitur lobortis magna bibendum, lacinia lorem ut, vehicula justo. In ut ex sodales, pulvinar nisl vel, aliquet ligula. In luctus gravida purus, ac facilisis est elementum id. Curabitur iaculis ante diam, ac dignissim metus bibendum facilisis. Nunc ultricies orci in ipsum bibendum pulvinar. In euismod laoreet nisl, et consectetur arcu aliquet a.</p>
        </div>
    </div>

    <div class="pagination">

    </div>

</div>

</body>
<script type="application/javascript" src="/js/jquery.js"></script><!-- PAGINATION PLUGIN JQUERY -->
<script type="application/javascript" src="/js/paginate.js"></script><!-- PAGINATION PLUGIN JQUERY -->
<script type="application/javascript" src="/js/custom.js"></script><!-- PAGINATION PLUGIN JQUERY -->

</html>